@font-face {
 src: url("resources/fonts/GreatVibes.ttf");
}
@font-face {
   src: url("resources/fonts/fa/fontawesome-webfont.ttf");
}
#welcome{
    -fx-background-image: url("resources/pictures/image2.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-padding: 10px;
}
#pubs{
    -fx-background-image: url("resources/pictures/image-pubs.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-padding: 10px;
}
#welcome_message{
    -fx-font-size: 60px;
    -fx-color: #fff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
    -fx-padding: 150px 20px 20px 20px;
}
#login_message{
    -fx-font-size: 60px;
    -fx-color: #fff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
    -fx-padding: 50px 20px 20px 20px;
}
#login_fields{
    -fx-max-width: 300px;
    -fx-padding: 30px;
    -fx-background-insets: 15px;
    -fx-text-fill: #731a2b;
    -fx-prompt-text-fill: #731a2b;
}

#fields{
    -fx-padding: 85px 0px 0px 0px;
}

#add_fields{
    -fx-min-width: 300px;
    -fx-padding: 25;
    -fx-background-insets: 10px;
    -fx-text-fill: #731a2b;
    -fx-prompt-text-fill: #731a2b;
}

#comboBox{
    -fx-min-width: 300px;
    -fx-padding: 23 30 23 30;
    -fx-background-insets: 13px;
    -fx-text-fill: #731a2b;
    -fx-prompt-text-fill: #731a2b;
}

#add_button {
    -fx-min-width: 300px;
    -fx-padding: 30px;
    -fx-background-insets: 16 10 16 10;
    -fx-background-color:#fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
}
#add_button:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill: #fff;
}
#nopubs_message{
    -fx-font-size: 60px;
    -fx-color: #fff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
}
#pub-title{
    -fx-font-size: 60px;
    -fx-color: #fff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
    -fx-padding: 150px 20px 20px 20px;
}
#warning_message{
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family: helvetica;
    -fx-padding: 20px 20px 20px 20px;
}

#button {
    -fx-padding: 15 55 15 55;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color:#fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
}
#button:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill: #fff;
}
#button-search {
    -fx-padding: 15 35 15 35;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color:#fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
}

#button-search:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill:#fff;
}

#pub-grid{
    -fx-padding: 130px 20px 90px 20px;
}
#pub-button{
    -fx-min-width: 525px;
    -fx-min-height: 325px;
    -fx-background-color: transparent;
    -fx-padding: 15 55 15 55;
    -fx-font-weight: bold;
    -fx-font-size: 70px;
    -fx-font-family: 'Great Vibes';
    -fx-text-fill: #fff;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#pub-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.4), 20, 0, 0, 0);
}
#randomPub-button{
	-fx-background-image: url("http://abetterlife.marcokoivisto.me/Pub-images/pub9.jpg");
    -fx-min-width: 525px;
    -fx-min-height: 325px;
    -fx-background-color: transparent;
    -fx-padding: 15 55 15 55;
    -fx-font-weight: bold;
    -fx-font-size: 70px;
    -fx-font-family: 'Great Vibes';
    -fx-text-fill: #fff;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
#randomPub-button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.4), 20, 0, 0, 0);
}
#pub_name{
    -fx-padding: 70px 0px 150px 0px;
    -fx-font-size: 100px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-family: 'Great Vibes';
}
#input-field{
    -fx-padding: 10 10 10 10;
    -fx-max-width: 70px;
    -fx-prompt-text-fill: #731a2b;
}

#search-field{
    -fx-padding: 10 10 10 10;
    -fx-max-width: 80px;
    -fx-prompt-text-fill: #731a2b;
}
#combo-search{
    -fx-font-family: FontAwesome;
    -fx-prompt-text-fill: #731a2b;
    -fx-text-fill: #731a2b;
    -fx-max-width: 110px;
    -fx-padding: 6 0 5 0;
    -fx-background-color: #fff;
}
#combo-search .list-cell{
    -fx-text-fill: #731a2b;
}
#combo-search .list-view .list-cell:filled:hover {
    -fx-background-color: #731a2b;
    -fx-text-fill: #fff;
}
#check-search{
    -fx-text-fill: #731a2b;
}

#check-search .box{
    -fx-text-fill: #731a2b;
    -fx-background-color: #fff;
}

#check-search:selected .mark {
    -fx-mark-color:#731a2b;
}
#searchGrid{
    -fx-padding: -5 0 0 0;
}

#error{
    -fx-text-fill: #fff;
    -fx-font-family: helvetica;
    -fx-font-size: 18px;
    -fx-padding: 20px;
}

#adminButton{
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-font-family: helvetica;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
}

#faIcon{
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 20px;
}

#login_button {
    -fx-padding: 45 75 45 75;
    -fx-background-color:#fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
    -fx-background-insets: 30px;
}
#login_button:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill: #fff;
}

#admin_button {
    -fx-padding: 30 60 30 60;
    -fx-background-insets: 10 10 10 10;
    -fx-background-color:#fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
    -fx-min-width: 200px;
}
#admin_button:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill: #fff;
}

#button-logout {
    -fx-padding: 25 45 25 45;
    -fx-background-insets: 10 10 10 10;
    -fx-background-color:#fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
}

#button-logout:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill:#fff;
}

#scroll {
   -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
#pubScene{
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 600;
    -fx-background-position: top center;
}
#description{
    -fx-background-color:rgba(115,26,43,0.7);
    -fx-background-position: center center;
    -fx-min-width: 1000px;
    -fx-font-family: helvetica;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 30px 20px 30px 20px;
}
#description-text{
    -fx-text-alignment: center;
}
#rating{
    -fx-background-color:rgba(255,255,255,0.7);
    -fx-min-width: 1000px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-min-height: 20px;
}

#infoLabel{
    -fx-padding: 0px 7px 0px 7px;
    -fx-text-fill: #fff;
    -fx-font-family: 'FontAwesome';
    -fx-font-weight: bold;
}
#starButton{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
    -fx-font-family: 'FontAwesome';
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}
#starButton:hover{
    -fx-text-fill: #731a2b;
}

#deletePubButton {
    -fx-padding: 15 55 15 55;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color:#fff;
    -fx-font-size: 1.1em;
    -fx-text-fill: #731a2b;
    -fx-font-family: 'FontAwesome';
    -fx-font-weight: bolder;
}
#deletePubButton:hover {
    -fx-background-color:#731a2b;
    -fx-text-fill: #fff;
}

#ratingStars{
    -fx-text-fill: #731a2b;
    -fx-font-size: 20px;
    -fx-font-family: 'FontAwesome';
    -fx-min-width: 295px;
    -fx-padding: 15;
    -fx-background-insets: 10px;
    -fx-text-fill: #731a2b;
    -fx-prompt-text-fill: #731a2b;
}
#addRatingStars{
     -fx-min-width: 300px;
     -fx-padding: 20;
     -fx-font-family: 'FontAwesome';
     -fx-background-insets: 10px;
     -fx-text-fill: #731a2b;
     -fx-prompt-text-fill: #731a2b;
}
#ratingOfStars {
      -fx-font-family: 'FontAwesome';
      -fx-background-position: center center;
      -fx-padding: 15;
      -fx-text-fill: #731a2b;
      -fx-font-size: 20px;

}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb{
     -fx-background-radius: 3em;
     -fx-background-color: rgba(0,0,0, 0.3);
}
#eventField{
    -fx-padding: 30 20 30 20;
    -fx-background-color: #731a2b;
    -fx-background-image: url("resources/pictures/background.png");
    -fx-background-position: top center;
}
#eventLabel{
    -fx-text-fill: #fff;
    -fx-font-size: 30px;
    -fx-font-family: helvetica;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

#event{
    -fx-max-width: 1000px;
    -fx-background-color: #fff;
    -fx-padding: 20px;
    -fx-background-radius: 2;
}
#eventName{
    -fx-font-family: helvetica;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}
#eventDescription{
    -fx-font-family: helvetica;
    -fx-font-size: 16px;
    -fx-text-fill: #000;
}

